services:
  web:
    container_name: nextjs_dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app               # mount code for hot reload
      - /app/node_modules    # prevent overwriting container modules
    env_file:
      - .env.local
    environment:
      NODE_ENV: development
    command: npm run dev
    
