@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  .border-base {
    border-color: var(--border-color);
  }
}

@layer base {
  :root {
    --border-color: theme('colors.gray.200');
    --text-color: theme('colors.black');
    --bg-color: theme('colors.white');
  }

  .dark {
    --border-color: theme('colors.gray.500');
    --text-color: theme('colors.white');
    --bg-color: theme('colors.gray.900');
  }

  body {
    @apply min-h-screen;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-900 text-white;
}

button,
a {
  @apply hover:cursor-pointer;
}